@model IEnumerable<Susret>

@{
    ViewData["Title"] = "Svi susreti";
}

<h1>@ViewData["Title"]</h1>

@{
    double BojanPotrosio = 0, BojanPlatio = 0, ZecPotrosio = 0, ZecPlatio = 0, ManicPotrosio = 0, ManicPlatio = 0;
    foreach (var s in Model)
    {
        BojanPotrosio += s.BojanPotrosio;
        BojanPlatio += s.BojanPlatio;
        ZecPotrosio += s.ZecPotrosio;
        ZecPlatio += s.ZecPlatio;
        ManicPotrosio += s.ManicPotrosio;
        ManicPlatio += s.ManicPlatio;
    }
    var BojanStanje = Math.Round(BojanPlatio - BojanPotrosio, 2);
    BojanStanje = BojanStanje > -0.5 && BojanStanje < 0 ? 0 : BojanStanje; // da ne bi pisalo -0 kada je stanje -0.01
    var ZecStanje = Math.Round(ZecPlatio - ZecPotrosio, 2);
    ZecStanje = ZecStanje > -0.5 && ZecStanje < 0 ? 0 : ZecStanje;
    var ManicStanje = Math.Round(ManicPlatio - ManicPotrosio, 2);
    ManicStanje = ManicStanje > -0.5 && ManicStanje < 0 ? 0 : ManicStanje;
    var min = (new[] { BojanStanje, ZecStanje, ManicStanje }).Min();
    var BojanBoja = BojanStanje == min ? "red" : "none";
    var ZecBoja = ZecStanje == min ? "red" : "none";
    var ManicBoja = ManicStanje == min ? "red" : "none";

}
<table border="1" class="table table-bordered table-hover" style="text-align:right;">
    <tr class="table-success">
        <th>Datum</th>
        <th style='color:@BojanBoja'>Bojan</th>
        <th>@Math.Round(BojanStanje)</th>
        <th style='color:@ZecBoja'>Bane</th>
        <th>@(Math.Round(ZecStanje))</th>
        <th style='color:@ManicBoja'>Manić</th>
        <th>@(Math.Round(ManicStanje))</th>
        <th style="width:40px"></th>
    </tr>
    <tr style="font-size:small">
        <th></th>
        <th>Potrošio</th>
        <th>Platio</th>
        <th>Potrošio</th>
        <th>Platio</th>
        <th>Potrošio</th>
        <th>Platio</th>
        <th></th>
    </tr>

    <tr>
        <th>Ukupno</th>
        <th>@BojanPotrosio.ToString("0.00")</th>
        <th>@BojanPlatio.ToString("0.00")</th>
        <th>@ZecPotrosio.ToString("0.00")</th>
        <th>@ZecPlatio.ToString("0.00")</th>
        <th>@ManicPotrosio.ToString("0.00")</th>
        <th>@ManicPlatio.ToString("0.00")</th>
        <th></th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Datum.ToString("yyyy-MM-dd")</td>
            <td>@(s.BojanPotrosio > 0 ? s.BojanPotrosio.ToString("0.00") : "")</td>
            <td>@(s.BojanPlatio > 0 ? s.BojanPlatio.ToString("0.00") : "")</td>
            <td>@(s.ZecPotrosio > 0 ? s.ZecPotrosio.ToString("0.00") : "")</td>
            <td>@(s.ZecPlatio > 0 ? s.ZecPlatio.ToString("0.00") : "")</td>
            <td>@(s.ManicPotrosio > 0 ? s.ManicPotrosio.ToString("0.00") : "")</td>
            <td>@(s.ManicPlatio > 0 ? s.ManicPlatio.ToString("0.00") : "")</td>
            <td>
                <a href="/Home/ObrisiSusret?id=@s.SusretId">
                    <img src="~/img/sign-delete-icon.png" style="width:24px" title="Obriši ovaj susret" />
                </a>
            </td>
        </tr>
    }
</table>